packages/*
Components/*
GridClick.Droid/bin/*
GridClick.Droid/obj/*
GridClick.iOS/bin/*
GridClick.iOS/obj/*
GridClick.UWP/*
GridClick.Windows/*
GridClick.WinPhone/bin/*
GridClick.WinPhone/obj/*
GridClick/bin/*
GridClick/obj/*


